ion-content {
    --background: var(--ion-color-white);
    .custom-form {
        .class-input {
            margin-bottom: 16px;
            color: var(--ion-color-primary);
            --background: var(--ion-color-light);
            border-radius: 10px;
            opacity: 0.9;
            height: 50px;
            &:first-child {
                height: 51px;
                border-radius: 10px;
            }
        }
    }
    .class-row-button {
        .class-col-button {
            padding: 0px;
        }
        .button {
            height: 40px;
        }
    }

    .class-grid {
        justify-content: center;
        padding: 16px;
        //margin-top: 5vh;
    }

    .table {
        font-size: 0.85em;
        border-spacing: 5px;
        border-collapse: separate;

        td,
        th {
            text-align: center;
        }
    }
}
