<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="class-grid responsive-class-grid-form">
    <form class="custom-form" [formGroup]="form" (ngSubmit)="onSubmit()">

      <ion-list>

        <ion-item lines="full" class="class-input">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>
        <div *ngIf="!isFieldValid('email')" class="invalid-input-message">
          {{getFieldError('email')}}
        </div>

        <ion-item lines="full" class="class-input">
          <ion-label position="floating">Nueva contraseña</ion-label>
          <ion-input type="password" formControlName="newPassword"></ion-input>
        </ion-item>
        <div *ngIf="!isFieldValid('newPassword')" class="invalid-input-message">
          {{getFieldError('newPassword')}}
        </div>

        <ion-item lines="full" class="class-input">
          <ion-label position="floating">Confirmar nueva contraseña</ion-label>
          <ion-input type="password" formControlName="confirmNewPassword"></ion-input>
        </ion-item>
        <div *ngIf="!isFieldValid('confirmNewPassword')" class="invalid-input-message">
          {{getFieldError('confirmNewPassword')}}
        </div>

      </ion-list>

      <ion-radio-group formControlName="role">
        <ion-row class="ion-margin-top" [ngClass]="(formSubmitAttempt && !form.value.role) ? 'validate-row-radio-group' : ''">
          <ion-col class="ion-no-padding ion-margin-end">
               <ion-item>
                  <ion-label><p class="radio-label">Vecino</p></ion-label>
                  <ion-radio item-left value="neighbor"></ion-radio>
             </ion-item>
           </ion-col>
      
          <ion-col class="ion-no-padding">
              <ion-item>
                  <ion-label><p class="radio-label">Agente Municipal</p></ion-label>
                  <ion-radio item-left value="municipalAgent"></ion-radio>
             </ion-item>
          </ion-col>
        </ion-row>
      </ion-radio-group>

      <ion-row class="class-row-button ion-margin-top">
        <ion-col class="class-col-button">
          <ion-button expand="block" color="primary" type="submit" shape="round">
            Confirmar
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>