<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="class-grid responsive-class-grid-form">
    <form class="custom-form">

      <ion-list>

        <ion-item lines="none" class="class-input">
          <ion-label position="floating">Contraseña actual</ion-label>
          <ion-input type="password" class="form-control"></ion-input>
        </ion-item>

        <ion-item lines="full" class="class-input">
          <ion-label position="floating">Nueva contraseña</ion-label>
          <ion-input type="password" class="form-control"></ion-input>
        </ion-item>

        <ion-item lines="full" class="class-input">
          <ion-label position="floating">Confirmar nueva contraseña</ion-label>
          <ion-input type="password" class="form-control"></ion-input>
        </ion-item>

      </ion-list>

      <ion-row class="class-row-button ion-margin-top">
        <ion-col class="class-col-button">
          <ion-button expand="block" color="medium" (click)="goToRegister()">
            Confirmar
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
