ion-content {
    
    
        .class-input {
            padding-top: 16px;
        }
        
        .class-row-button {

    
            .class-col-button {
                padding: 0px;   
                }
    
            .button {
                height: 40px;
            }
    
            }


            .table {
        font-size: .85em;
        border-spacing: 5px;
        border-collapse: separate;

        td, th {
            text-align: center;

        }
    }

    form {
        padding-right: 25px;
        padding-left: 25px;

        ion-button {
            --border-radius: 5px;
        }
    }

    
}


