<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ubicación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map" class="map-complete" #map></div>
  <ion-fab slot="fixed" vertical="top" horizontal="end" *ngIf="!showForm">
    <ion-fab-button>
      <ion-icon name="information-circle-outline" color="white"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer *ngIf="showForm">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Calle</ion-label>
            <ion-input [(ngModel)]="street"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Número</ion-label>
            <ion-input [(ngModel)]="streetNumber"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  
  <div class="btn-container">
    <ion-button expand="block" type="button" (click)="goToClaims()">
      <ion-text color="light">
        Continuar
      </ion-text>
    </ion-button>
  </div>
</ion-footer>
