<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start" *ngIf="hideMenu">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ubicación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="map-complete"
     leaflet 
     [leafletOptions]="options"
     [leafletLayers]="layers"
     (leafletMapReady)="onMapReady($event)"
     (leafletClick)="onClick($event)">
  </div>
  <ion-fab slot="fixed" vertical="top" horizontal="end" *ngIf="!hideMenu">
    <ion-fab-button (click)="openMapOptions()">
      <ion-icon name="information-circle-outline" color="white"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer *ngIf="hideMenu">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Calle</ion-label>
            <ion-input [(ngModel)]="street"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Número</ion-label>
            <ion-input [(ngModel)]="streetNumber"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  
  <div class="btn-container">
    <ion-button expand="block" type="button" (click)="goToClaims()" shape="round">
      <ion-text color="light">
        Continuar
      </ion-text>
    </ion-button>
  </div>
</ion-footer>
