.map-complete {
    width: 100%;
    height: 100%;
}

.map-inputs {
  width: 100%;
  height: 80%;
}

ion-footer {
    background-color: var(--ion-color-gray);

    .address {
      border-bottom: 1px solid var(--ion-color-primary)
    }
}
