<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Instituciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-searchbar placeholder="Nombre de la institución"></ion-searchbar>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let i of institutions">

      <ion-col size="9">
          <div>
            <ion-item lines="none">
              <ion-icon color="primary" name="calendar" slot="start" class="ion-margin-end"></ion-icon>
              <ion-text color="medium">Comisaría</ion-text>
            </ion-item>
          </div>
          <div>
            <ion-item lines="none">
              <ion-icon color="primary" name="location" slot="start" class="ion-margin-end"></ion-icon>
              <ion-text color="medium"> España 2000 </ion-text>
            </ion-item>
          </div>
      </ion-col>

      <ion-col size="3">
        <ion-button color="primary">
          <ion-icon name="call-outline"></ion-icon>
        </ion-button>
      </ion-col>
    
    </ion-row>

  </ion-grid>
</ion-content>