<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Nuevo contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-item class="ion-margin-top">
      <ion-label position="floating">Nombre*</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>
    <div *ngIf="!isFieldValid('name')" class="invalid-input-message">
      {{getFieldError('name')}}
    </div>
    <ion-item class="ion-margin-top">
      <ion-label position="floating">Teléfono*</ion-label>
      <ion-input formControlName="phoneNumber" type="tel"></ion-input>
    </ion-item>
    <div [ngClass]="!isFieldValid('phoneNumber') ? 'invalid-input-message' : 'valid-input-message' ">
      {{ !isFieldValid('phoneNumber') ? getFieldError('phoneNumber') : 'Código área (sin 0) + número (sin 15)'}}
    </div>
  </form>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="danger" (click)="cancel()">Cancelar</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="success" (click)="onSubmit()">Aceptar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>