<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="claims">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Mis reclamos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="claim">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>Nuevo Reclamo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
