<ion-tabs #myTabs>

  <ion-tab-bar slot="bottom" *ngIf="!hideMenu">
    <ion-tab-button (click)="goTo('user')">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Mi Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="goTo('claims')">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Mis Reclamos</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="goTo('map')">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
