<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row [ngClass]="(formSubmitAttempt && !form.value.role) ? 'validate-row-radio-group' : ''">
      <ion-text class="ion-margin-top title">
        <p><strong>Elija su rol dentro de la aplicación:</strong></p>
      </ion-text>
    </ion-row>

    <form [formGroup]="form">
      <ion-radio-group formControlName="role" class="ion-margin-top">
        <ion-item class="ion-margin-top">
          <ion-label><p>Vecino</p></ion-label>
          <ion-radio item-left value="neighbor"></ion-radio>
        </ion-item>

        <ion-item class="ion-margin-top">
          <ion-label><p>Agente Municipal</p></ion-label>
          <ion-radio item-left value="municipalAgent"></ion-radio>
        </ion-item>
      </ion-radio-group>

    </form>

    <ion-button class="ion-margin-top" expand="block" shape="round" color="primary" (click)="goToRegister()">
      <ion-text color="light" class="text-bold">Siguiente</ion-text>
    </ion-button>
  </ion-grid>
</ion-content>
