<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mis reclamos</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col>
        <p class="title">Categoría</p>
      </ion-col>
      <ion-col>
        <ion-select class="select-md"></ion-select>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        Subcategoría
      </ion-col>
      <ion-col>
        <ion-select class="select-md"></ion-select>
      </ion-col>
    </ion-row>

    <ion-row class="header">
      <ion-col size="3">
        Fecha
      </ion-col>
      <ion-col size="3">
        Dirección
      </ion-col>
      <ion-col size="4">
        Estado
      </ion-col>
      <ion-col size="2">
        <!-- Esta columna va vacía, es para poner los íconos de edición y borrado -->
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let claim of claims; index as i" [ngClass]="(i%2) ? 'even' : 'odd'">
      <ion-col size="3">
        {{claim.date}}
      </ion-col>
      <ion-col size="3">
        {{claim.address}}
      </ion-col>
      <ion-col size="4">
        {{claim.status}}
      </ion-col>
      <ion-col size="2">
        <ion-icon name="pencil-outline"></ion-icon>
        <ion-icon name="trash-outline"></ion-icon>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-fab (click)="goToClaim()" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button><ion-icon name="add" color="white"></ion-icon></ion-fab-button>
  </ion-fab>
  
</ion-content>