ion-card {
    background-color: var(--ion-color-primary);
}

.custom-segment {
    ion-segment-button {
        ion-icon {
            font-size: 1.7rem;
        }
        ion-label {
            font-size: 0.9em;
        }
    }
}