ion-content {
    ion-card {
        border-radius: 10px;
    }
    
    .date {
        font-size: 0.8rem;
    }

    .text {
        color: #636363;
    }
    
    .container-img {
        display: flex;
        justify-content: center;
    }

    img {
        width: 120px;
        object-fit: cover;
        height: 120px;
        border-radius: 50%;
    }

    .centering{
        position: relative;

        ion-button{
            position: absolute;
            top: 35%;
            left: 25%;
        }
    }
}
