<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Nuevo reclamo</ion-title>
    </ion-toolbar>
</ion-header>
  
<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="container-img">
      <img [src]="picture" onError="this.src='assets/imgs/no-image.jpg'" (click)="changePicture()">
    </div>

    <!-- Selects para reclamos -->
    <ion-item *ngIf="type === 'claim'">
      <ion-label position="floating">Tipo</ion-label>
      <ion-select formControlName="selectedClaimType" (ionChange)="onChangeClaimType()" [disabled]="action === 'watch' || role === 'municipalAgent'">
        <ion-select-option *ngFor="let category of categories" [value]="category">
          {{category?.CTdescription}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="type === 'claim'">
      <ion-label position="floating">Subcategoría</ion-label>
      <ion-select [disabled]="!form.value.selectedClaimType || action === 'watch' || role === 'municipalAgent'" formControlName="category">
        <ion-select-option *ngFor="let subcategory of subcategories"
          [value]="subcategory?.claimSubcategoryId">
          {{subcategory?.CSCdescription}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Select para hechos de inseguridad -->
    <ion-item *ngIf="type === 'insecurityFact'">
      <ion-label position="floating">Tipo</ion-label>
      <ion-select formControlName="category" [disabled]="action === 'watch' || role === 'municipalAgent'">
        <ion-select-option *ngFor="let category of categories" [value]="category?.insecurityFactTypeId">
          {{category?.IFTdescription}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <div *ngIf="!isFieldValid('category')" class="invalid-input-message">
      {{getFieldError('category')}}
    </div>
      
    <ion-row>
      <ion-col (click)="showMapMessage()">
        <ion-item class="class-input">
          <ion-label position="floating">Calle</ion-label>
          <ion-input type="text" readonly=true formControlName="street" [disabled]="action === 'watch' || role === 'municipalAgent'"> </ion-input>
        </ion-item>
        <ion-item class="class-input">
          <ion-label position="floating">Número</ion-label>
          <ion-input type="text" readonly=true formControlName="streetNumber" [disabled]="action === 'watch' || role === 'municipalAgent'"> </ion-input>
        </ion-item>
      </ion-col>
      <ion-col class="centering">
        <ion-button type="button" color="secondary" [disabled]="action === 'watch' || role === 'municipalAgent'" (click)="goToMap()">
          Localizar
        </ion-button>
      </ion-col>
    </ion-row>

    <div *ngIf="!isFieldValid('streetNumber')" class="invalid-input-message">
      {{getFieldError('streetNumber')}}
    </div>

    <ion-item>
      <ion-label position="floating">Comentario</ion-label>
      <ion-input type="text" formControlName="comment" [disabled]="action === 'watch' || role === 'municipalAgent'"></ion-input>
    </ion-item>
    <div *ngIf="!isFieldValid('comment')" class="invalid-input-message">
      {{getFieldError('comment')}}
    </div>
    
    <ion-item>
      <ion-label position="floating">Fecha de ocurrencia</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" done-text="Aceptar" cancel-text="Cancelar"
        formControlName="dateTimeObservation" [disabled]="action === 'watch' || role === 'municipalAgent'" [max]="today"></ion-datetime>
    </ion-item>
    <div *ngIf="!isFieldValid('dateTimeObservation')" class="invalid-input-message">
      {{getFieldError('dateTimeObservation')}}
    </div>

    <!-- Los 3 campos de abajo serán mostrados en los reclamos creados previamente -->

    <!-- Solo se muestra si el estado del reclamo es 'Terminado' -->
    <ion-item *ngIf="!creating && form.value.statusId === 5">
      <ion-label position="floating">Calificación de la resolución</ion-label>
      <ion-input type="number" min='1' max='10' formControlName="resolutionRating" [disabled]="action === 'watch' || role === 'municipalAgent'"></ion-input>
    </ion-item>
    <div *ngIf="!isFieldValid('resolutionRating')" class="invalid-input-message">
      {{getFieldError('resolutionRating')}}
    </div>

    <ion-item *ngIf="!creating">
      <ion-label position="floating">Fecha de creación</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" done-text="Aceptar" cancel-text="Cancelar" formControlName="dateTimeCreation" [disabled]="action === 'watch' || action === 'edit' || role === 'municipalAgent'"></ion-datetime>
    </ion-item>
    
    <ion-item *ngIf="!creating && role==='municipalAgent'">
      <ion-label position="floating">Estado</ion-label>
      <ion-select formControlName="statusId" (ionChange)="onChangeStatus()">
        <ion-select-option *ngFor="let status of statuses" [value]="status?.statusId">{{status?.STAdescription}}</ion-select-option>
      </ion-select>
    </ion-item>

    <div *ngIf="action !== 'watch'">
      <ion-button expand="block" color="primary" type="submit" [disabled]="!enableButton">
        <ion-text color="light">
          {{ getButtonName() }}
        </ion-text>
      </ion-button>
    </div>
  </form>
</ion-content>