.card-number {
    background-color: var(--ion-color-secondary);
    height: 25vh;
    font-size: 3em;
    text-align: center;
    padding: 5px;
    color: var(--ion-color-tertiary);
    display: grid;
    grid-gap: 0px;
    grid-template-rows: 40% 40% 20%;

    div {
        margin-top: 0px;
    }

    .name {
        margin-top: 10px;
        font-size: 0.4em;
        color: var(--ion-color-tertiary);
    }
}

ion-grid {
    background-color: var(--ion-color-light);
}