ion-content {
    ion-button {
        --border-radius: 15px;

        .text-bold {
            font-weight: 600;
        }
    }

    ion-item {
        color: var(--ion-color-primary);
    }
}

.submit-button {
    margin-right: 16px;
    margin-left: 16px;
}