<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="!creating"></ion-menu-button>
      <ion-back-button *ngIf="creating"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!creating">Mi perfil</ion-title>
    <ion-title *ngIf="creating">Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Nombre*</ion-label>
        <ion-input type="text" formControlName="firstName"></ion-input>
      </ion-item>
      
      <ion-item class="ion-margin-top">
        <ion-label position="floating">Apellido*</ion-label>
        <ion-input type="text" formControlName="lastName"></ion-input>
      </ion-item>
  
      <ion-item class="ion-margin-top">
        <ion-label position="floating">DNI*</ion-label>
        <ion-input type="number" formControlName="dni"></ion-input>
      </ion-item>
  
      <ion-item class="ion-margin-top">
        <ion-label position="floating">Número de Trámite del DNI*</ion-label>
        <ion-input type="number" formControlName="tramiteNumberDNI"></ion-input>
      </ion-item>
      
      <!-- * Esto no lo pondría así se agiliza el registro  -->
      <!-- <ion-item lines="none" class="class-input">
        <ion-label>Dirección</ion-label>
        <ion-input type="text" readonly=true></ion-input>
        <ion-button style="height: 30px;" type="button" color="tertiary" fill="outline" (click)="goToMap()" slot="end">
          Localizar
        </ion-button>
      </ion-item> -->
  
      <ion-item class="ion-margin-top">
        <ion-label position="floating">Calle*</ion-label>
        <ion-input type="text" formControlName="street"></ion-input>
      </ion-item>
  
      <ion-item class="ion-margin-top">
        <ion-label position="floating">Número de calle*</ion-label>
        <ion-input type="text" formControlName="streetNumber"></ion-input>
      </ion-item>
  
      <ion-item class="ion-margin-top">
        <ion-label position="floating">Ciudad*</ion-label>
        <ion-input type="text" formControlName="city"></ion-input>
      </ion-item>
  
      <ion-item class="ion-margin-top">
        <ion-label position="floating">Provincia*</ion-label>
        <ion-input type="text" formControlName="province"></ion-input>
      </ion-item>
      
      <ion-item class="ion-margin-top">
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input type="number" formControlName="phoneNumber"></ion-input>
      </ion-item>
  
      <ion-item class="ion-margin-top">
        <ion-label position="floating">Email*</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
  
      <ion-item *ngIf="creating" class="ion-margin-top">
        <ion-label position="floating">Contraseña*</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      
      <ion-item *ngIf="creating" class="ion-margin-top">
        <ion-label position="floating">Confirmar Contraseña*</ion-label>
        <ion-input type="password" formControlName="confirmPassword"></ion-input>
      </ion-item>

      <ion-item *ngIf="creating" class="ion-margin-top">
        <p>Para crear tu cuenta tenés que aceptar los <a href="">Términos y Condiciones</a></p>
        <ion-checkbox color="primary" formControlName="termsAndConditionsAccepted" slot="end">
        </ion-checkbox>
      </ion-item>
    </form>
      
    <div class="ion-margin-top">
      <ion-button expand="block" color="medium" *ngIf="!creating" (click)="goToChangePassword()">
        <ion-text color="light" class="text-bold">
          Cambiar contraseña
        </ion-text>
      </ion-button>
    
      <ion-button class="ion-margin-top" expand="block" color="primary" (click)="goToClaims()">
        <ion-text color="light" class="text-bold">
          {{ creating ? 'Registrarse' : 'Guardar' }}
        </ion-text>
      </ion-button>
    </div>
  </ion-grid>

</ion-content>