<form [formGroup]="form">
  <ion-item-group>
    <ion-item-divider class="ion-margin-top">
      <ion-label>
        Datos personales
      </ion-label>
    </ion-item-divider>
    
      <ion-item class="ion-margin-top">
        <ion-label position="floating">Nombre*</ion-label>
        <ion-input type="text" formControlName="firstName"></ion-input>
      </ion-item>
      <div *ngIf="!isFieldValid('firstName')" class="invalid-input-message">
        {{getFieldError('firstName')}}
      </div>

      
      <ion-item class="ion-margin-top">
        <ion-label position="floating">Apellido*</ion-label>
        <ion-input type="text" formControlName="lastName"></ion-input>
      </ion-item>
      <div *ngIf="!isFieldValid('lastName')" class="invalid-input-message">
        {{getFieldError('lastName')}}
      </div>
  
      <ion-item class="ion-margin-top">
        <ion-label position="floating">Legajo*</ion-label>
        <ion-input type="text" formControlName="registrationNumber" [readonly]="!creating"></ion-input>
      </ion-item>
      <div *ngIf="!isFieldValid('registrationNumber')" class="invalid-input-message">
        {{getFieldError('registrationNumber')}}
      </div>

      <ion-item-group *ngIf="creating">
        <ion-item-divider class="ion-margin-top">
          <ion-label>
            Datos de la cuenta
          </ion-label>
        </ion-item-divider>
        
        <ion-item class="ion-margin-top">
          <ion-label position="floating">Email*</ion-label>
          <ion-input type="text" formControlName="email" [readonly]="!creating"></ion-input>
        </ion-item>
        <!-- Estos div sirven para mostrar el error específico del campo -->
        <div *ngIf="!isFieldValid('email')" class="invalid-input-message">
          {{getFieldError('email')}}
        </div>
    
        <ion-item class="ion-margin-top">
          <ion-label position="floating">Contraseña*</ion-label>
          <ion-input type="password" formControlName="password" [readonly]="!creating"></ion-input>
        </ion-item>
        <div *ngIf="!isFieldValid('password')" class="invalid-input-message">
          {{getFieldError('password')}}
        </div>
        
        <ion-item class="ion-margin-top">
          <ion-label position="floating">Confirmar Contraseña*</ion-label>
          <ion-input type="password" formControlName="confirmPassword" [readonly]="!creating"></ion-input>
        </ion-item>
        <div *ngIf="!isFieldValid('confirmPassword')" class="invalid-input-message">
          {{getFieldError('confirmPassword')}}
        </div>
  
        <ion-item-divider class="ion-margin-top"></ion-item-divider>
      </ion-item-group>
  </ion-item-group>
</form>