<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <form style="margin-top: 5vh;" [formGroup]="form" (ngSubmit)="onSubmit()"> -->
  <ion-row>
    <!-- <h2 style="color: var(--ion-color-primary);">Recuperar contraseña</h2> -->
    <p>Se enviará un correo electrónico con su nueva contraseña</p>
  </ion-row>
  <ion-row style="margin-top: 7vh;">
    <ion-col >
      <ion-item style="width: 100%">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row class="submit-container">
    <ion-col >
      <ion-button expand="block" color="primary" type="submit" [disabled]="!form.valid">
        Enviar
      </ion-button>
    </ion-col>
  </ion-row>
  <!-- </form> -->
</ion-content>
