ion-content {
    --background: var(--ion-color-light);
        
    .image-login {
        height: 30vh;
        object-fit: cover;
    }
}

ion-button {
    width: 100%;
    --border-radius: 15px;

    .text-bold {
        font-weight: 600;
    }
}

.form {
    height: 40vh;
}

.container-img {
    height: 45vh;
}

.center {
    text-align: center;
    font-size: small;
}

.row-radio-group {
    margin-top: 30px;
}

ion-footer {
    height: 10vh;
}