ion-content {
    display: flex !important;
    align-items: center !important;
}

.no-reports {
    font-size: 18px;
    text-align: center;
}

.graphic-container {
    margin-top: 16px;
}

.button-right {
    float: right;
}