ion-content {
    display: flex !important;
    align-items: center !important;
}

.no-reports {
    margin-top: 25vh;
    h1 {
        font-size: 18px;
        text-align: center;
    }
}

.graphic-container {
    margin-top: 16px;
}

.button-right {
    float: right;
}